<section>
	<div class="row">
		<div class="col-sm-2">
			<div class="btn-group" role="group">
				<a class="btn btn-primary" href="#/main/users/create">
					<i class="fa fa-fw fa-user-plus"></i>
					Agregar
				</a>
				<button type="button" class="btn btn-primary" ng-click="reloadUsers()">
					<i class="fa fa-fw fa-refresh"></i>
					Refrescar
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 table-responsive">
			<table class="table table-bordered table-striped table-hover" st-table="users" st-safe-src="rowCollection">
				<thead>
					<tr>
						<th>Id</th>
						<th>Usuario</th>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Correo</th>
						<th>Rol</th>
						<th>Fecha de Creación</th>
						<th>Estado</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="u in users">
						<td>{{u.id}}</td>
						<td>{{u.username}}</td>
						<td>{{u.firstName}}</td>
						<td>{{u.lastName}}</td>
						<td>{{u.email}}</td>
						<td>{{u.roleName}}</td>
						<td>{{u.createdAt | date:'dd/MM/yyyy h:mma'}}</td>
						<td>{{statusToString(u.status)}}</td>
						<td>
							<button type="button" class="btn btn-xs btn-warning" ng-click="openChangePasswordModal(u.id, u.username)" title="Cambiar Clave">
								<i class="fa fa-fw fa-key"></i>
							</button>
						</td>
						<td>
							<a class="btn btn-xs btn-info" ng-href="#/main/users/edit/{{u.id}}" title="Editar">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						</td>
						<td>
							<button type="button" class="btn btn-xs btn-danger" ng-click="deleteUser(u.id, u.username)" title="Eliminar">
								<i class="fa fa-fw fa-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="11" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</section>
