<div class="modal-header">
	<h3 class="modal-title">Cambiar Correo</h3>
</div>
<div class="modal-body">
	<form name="changeEmailForm" class="form-horizontal" novalidate>
		<div class="form-group">
		<label class="col-sm-3 control-label">Usuario</label>
			<div class="col-sm-8">
				<label class="col-sm-2 control-label">{{user.username}}</label>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': changeEmailForm.email.$invalid && (changeEmailForm.email.$dirty || changeEmailForm.$submitted)}">
			<label class="col-sm-3 control-label">Correo</label>
			<div class="col-sm-8">
				<input name="email" type="email" class="form-control" placeholder="Correo" ng-model="email" required autofocus>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="accept()">Aceptar</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
</div>
