<section>
	<div class="row pbottom10" ng-controller = "CreateStudentsCtrl">
		<div class="col-sm-12">
			<a type="submit" class="btn btn-default" href="#/main/students/all">
				<i class="fa fa-arrow-left"></i>
				Regresar
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<h3>Agregar Estudiante</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form name="studentForm" class="form-horizontal form-bordered" novalidate>
				<div class="form-group" ng-class="{'has-error': studentForm.idNumber.$invalid && (studentForm.idNumber.$dirty || studentForm.$submitted),'has-success': student.idNumber !== '' && !studentForm.idNumber.$error.available}">
					<label for="idNumber" class="col-sm-2 control-label">Numero de Identidad o Passaporte</label>
					<div class="col-sm-8">
						<input id="idNumber" name="idNumber" class="form-control" placeholder="identidad" type="text" ng-model="student.idNumber" ng-change="onStudentIdChange()" ng-model-options="{debounce:500}" required autofocus>
						<label class="control-label" ng-show="studentForm.idNumber.$error.available">
							<i class="fa fa-remove"></i>
							El estudiante ya existe!
						</label>
						<label class="control-label" ng-show="studentForm.idNumber.$valid && !studentForm.idNumber.$error.available">
							<i class="fa fa-check-square-o"></i>
							Estudiante disponible!
						</label>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error': studentForm.firstName.$invalid && (studentForm.firstName.$dirty || studentForm.$submitted)}">
					<label for="firstName" class="col-sm-2 control-label">Nombres</label>
					<div class="col-sm-8">
						<input id="firstName" name="firstName" class="form-control" placeholder="Nombre Completo" type="text" ng-model="student.firstName" required >
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': studentForm.lastName.$invalid && (studentForm.lastName.$dirty || studentForm.$submitted)}">
					<label for="lastName" class="col-sm-2 control-label">Apellidos</label>
					<div class="col-sm-8">
						<input id="lastName" name="lastName" class="form-control" placeholder="Apellido" type="text" ng-model="student.lastName" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': studentForm.email.$invalid && (studentForm.email.$dirty || studentForm.$submitted)}">
					<label for="email" class="col-sm-2 control-label">Correo Electronico</label>
					<div class="col-sm-8">
						<input id="email" name="email" class="form-control" placeholder="Correo" type="text" ng-model="student.email" >
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': (studentForm.$submitted || studentForm.birthDate.$touched) && studentFormm.birthDate.$invalid}">
					<label for="eventStartDate" class="col-sm-2 control-label">Fecha de Nacimiento:</label>
					<div class="row vertical-align">
						<div class="col-sm-5">
							<div class="input-group">
								<input name="birthDate" type="text" class="form-control" ng-model="student.birthdate" datepicker-popup="{{datetimePickers.format}}" is-open="datetimePickers.birthDate.opened" clear-text="Limpiar" close-text="Cerrar" placeholder="DD/MM/AAAA" required />
								 <span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="datetimePickers.open(datetimePickers.birthDate)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': studentForm.placeOfBirth.$invalid && (studentForm.placeOfBirth.$dirty || studentForm.$submitted)}">
					<label for="placeOfBirth" class="col-sm-2 control-label">Lugar de Nacimiento</label>
					<div class="col-sm-8">
						<input id="placeOfBirth" name="placeOfBirth" class="form-control" placeholder="Lugar de nacimiento" type="text" ng-model="student.placeOfBirth">
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': studentForm.address.$invalid && (studentForm.address.$dirty || studentForm.$submitted)}">
					<label for="address" class="col-sm-2 control-label">Dirección</label>
					<div class="col-sm-8">
						<input id="address" name="address" class="form-control" placeholder="Dirección" type="text" ng-model="student.address" >
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-2 control-label">Género</label>
					<div class="col-sm-8">
						<label class="checkbox-inline">
							<input type="radio" name="sex" id="male" data-ng-model="student.gender" data-ng-value="true">
							Masculino
						</label>
						<label class="checkbox-inline">
							<input type="radio" name="sex" id="female" data-ng-model="student.gender" data-ng-value="false">
							Femenino
						</label>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': studentForm.nationality.$invalid && (studentForm.nationality.$dirty || studentForm.$submitted)}">
					<label for="nationality" class="col-sm-2 control-label">Nacionalidad</label>
					<div class="col-sm-8">
						<input id="nationality" name="nationality" class="form-control" placeholder="Nacionalidad" type="text" ng-model="student.nationality" >
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': studentForm.phoneNumber.$invalid && (studentForm.phoneNumber.$dirty || studentForm.$submitted)}">
					<label for="phoneNumber" class="col-sm-2 control-label">Teléfono/Celular</label>
					<div class="col-sm-8">
						<input id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Teléfono/Celular" type="text" ng-model="student.phoneNumber">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
						<button type="submit" class="btn btn-primary" ng-click="studentForm.$valid && createStudent()">Aceptar</button>
						<a type="submit" class="btn btn-default" href="#/main/students/all">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
