.login-body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.login-header {
	padding-bottom: 20px;
	border-bottom: 4px double #e5e5e5;
}

.login-header h3 {
	margin-top: 0;
 	margin-bottom: 0;
	line-height: 40px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

@media screen and (min-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }
}
