body {
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

/*
	Helper classes
*/

.has-error .form-control {
	border-color: #f35051;
}

.pbottom10 {
	padding-bottom: 10px;
}

/*
	Tables
*/

.table thead {
	background-color: #337ab7;
	color: white;
}

.table thead tr th,
.table tbody {
	text-align: center;
}

/*
	Forms
*/

.form-bordered {
	border: 1px solid #E6E7E8;
	padding: 20px 25px;
	border-radius: 5px;
	float: none;
	maring: 20px 0px 40px;
}
