<section class="home-body">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">
							<i class="fa fa-home fa-fw"></i>Inicio
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-cogs fa-fw"></i>Configuración
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-user fa-fw"></i>Perfil
						</a>
					</li>
					<li>
						<a ng-click="signOut()">
							<i class="fa fa-sign-out fa-fw"></i>Cerrar Sesión
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="#">
							<i class="fa fa-home fa-fw"></i>Inicio
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-book fa-fw"></i>Asignaturas
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-child fa-fw"></i>Alumnos
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-male fa-fw"></i>Docentes
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-file-text-o fa-fw"></i>Ingreso de Notas
						</a>
					</li>
				</ul>

				<ul class="nav nav-sidebar">
					<li>
						<a href="">
							<i class="fa fa-bullhorn fa-fw"></i>Boletines
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-calendar fa-fw"></i>Reporte #1
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-edit fa-fw"></i>Reporte #2
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-area-chart fa-fw"></i>Reporte #3
						</a>
					</li>
				</ul>

				<ul class="nav nav-sidebar">
					<li>
						<a href="#/home/users/all">
							<i class="fa fa-users fa-fw"></i>Usuarios
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-legal fa-fw"></i>Roles
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-trophy fa-fw"></i>Privilegios
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-cogs fa-fw"></i>Configuración
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ui-view />
			</div>
		</div>
	</div>
</section>
