<section class="login-body">
	<div class="container">
		<div class="header login-header clearfix">
			<div class="row">
				<div class="col-md-11 text-center">
					<h1>Instituto Técnico A.B.C.D.</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form name="loginForm" class="form-signin" ng-submit="authenticate()">
					<div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
						<label for="email" class="sr-only">Email:</label>
						<input name="email" ng-model="credentials.identifier" type="email" class="form-control" placeholder="Correo" required autofocus>
					</div>

					<div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
						<label for="password" class="sr-only">Clave:</label>
						<input name="password" ng-model="credentials.password" type="password" class="form-control" placeholder="Clave" required>
					</div>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
				</form>
			</div>
			<div class="col-md-6 text-center">
				<img src="static/images/intro.png" />
			</div>
		</div>

	</div>
</section>
