<section class="login-body">
	<div class="container">
		<div class="header login-header clearfix">
			<div class="row">
				<div class="col-md-11 text-center">
					<h1>Instituto Técnico A.B.C.D.</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form class="form-signin">
					<label for="inputEmail" class="sr-only">Email:</label>
					<input type="email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>

					<label for="inputPassword" class="sr-only">Clave:</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Clave" required>

					<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="authenticate()">Iniciar Sesión</button>
				</form>
			</div>
			<div class="col-md-6 text-center">
				<img src="static/images/intro.png" />
			</div>
		</div>

	</div>
</section>
