<h1 class="page-header">
	<i class="fa fa-user fa-lg"></i> Perfil
</h1>
<section >
	<div class="row pbottom30">
		<div class="col-sm-6">
			<div class="row gray-border-bottom">
				Nombre de Usuario
			</div>
			<div class="row">
				<h4>admin</h4>
			</div>
		</div>
	</div>
	<div class="row pbottom30">
		<div class="col-sm-6">
			<div class="row gray-border-bottom">
				Nombre Completo
			</div>
			<div class="row">
				<h4>Abelardo Ernesto Mendoza Alvarado</h4>
			</div>
		</div>
	</div>
	<div class="row pbottom30">
		<div class="col-sm-4">
			<div class="row gray-border-bottom">
				Correo
			</div>
			<div class="row">
				<h4>abelardo22.9@gmail.com</h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<div class="row gray-border-bottom">
				Clave
			</div>
			<div class="row">
				<h5>[Escondida]</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row gray-border-bottom">
				Rol
			</div>
			<div class="row">
				<h4>Administrador</h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<div class="row gray-border-bottom">
				Estado
			</div>
			<div class="row">
				<h4>Habilitado</h4>
			</div>
		</div>
	</div>
</section>
