<h1 class="page-header">
	<i class="fa fa-user fa-lg"></i> Perfil
</h1>
<section ng-show="!isLoading">
	<div class="row pbottom30">
		<div class="col-sm-6">
			<div class="row gray-border-bottom field-title">
				Nombre de Usuario
			</div>
			<div class="row">
				<h4>{{user.username}}</h4>
			</div>
		</div>
	</div>
	<div class="row pbottom30">
		<div class="col-sm-6">
			<div class="row gray-border-bottom field-title">
				Nombre Completo <a href="#">(Cambiar)</a>
			</div>
			<div class="row">
				<h4>{{user.firstName}} {{user.lastName}}</h4>
			</div>
		</div>
	</div>
	<div class="row pbottom30">
		<div class="col-sm-4">
			<div class="row gray-border-bottom field-title">
				Correo <a href="#">(Cambiar)</a>
			</div>
			<div class="row">
				<h4>{{user.email}}</h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<div class="row gray-border-bottom field-title">
				Clave <a href="#">(Cambiar)</a>
			</div>
			<div class="row">
				<h5>[Escondida]</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row gray-border-bottom field-title">
				Rol
			</div>
			<div class="row">
				<h4>{{user.roleName}}</h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<div class="row gray-border-bottom field-title">
				Estado
			</div>
			<div class="row">
				<h4>{{statusToString(user.status)}}</h4>
			</div>
		</div>
	</div>
</section>
