<h1 class="page-header">
	<i class="fa fa-user fa-lg"></i> Perfil
</h1>
<section ng-show="!isLoading">
	<div class="row pbottom30">
		<div class="col-sm-6">
			<div class="row gray-border-bottom field-title">
				Nombre de Usuario
			</div>
			<div class="row">
				<h4>{{user.username}}</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pbottom30">
			<div class="row gray-border-bottom field-title">
				Nombre Completo <a ng-click="openChangeFullNameModal()">(Cambiar)</a>
			</div>
			<div class="row">
				<h4>{{user.firstName}} {{user.lastName}}</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 pbottom30">
			<div class="row gray-border-bottom field-title">
				Correo <a ng-click="openChangeEmailModal()">(Cambiar)</a>
			</div>
			<div class="row">
				<h4>{{user.email}}</h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 pbottom30">
			<div class="row gray-border-bottom field-title">
				Clave <a ng-click="openChangePasswordModal()">(Cambiar)</a>
			</div>
			<div class="row">
				<h5>[Escondida]</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 pbottom30">
			<div class="row gray-border-bottom field-title">
				Es Administrador
			</div>
			<div class="row">
				<h4>
					{{user.isAdmin ? 'Sí' : 'No'}}
				</h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 pbottom30">
			<div class="row gray-border-bottom field-title">
				Es Docente
			</div>
			<div class="row">
				<h4>
					{{user.isTeacher ? 'Sí' : 'No'}}
				</h4>
			</div>
		</div>
	</div>
</section>
